*{
    margin: 0;
    padding: 0;
}

.div1{
    background-color: #21186E;
    text-align: center;
    padding: 20px;
}
.div1 img{
    width: 100px;
    height: 50px;
}
.div2{
    background-color: red;
   padding: 10px;
   text-align: center;
}
.div2 ul li {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    border-right:1px solid white ;
    
}
.div2 ul li a{
    color: white;
    text-decoration: none;
}
.div3{
    text-align: center;
    color: white;
    background-image:url("img/picture2.jpg") ;
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 100px;

}
.button{
    background-color: green;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
}
.div4{
    text-align: center;
    background-image:url("img/picture3.jpg") ;
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  padding: 80px 0px 80px 0px;

}
.div4 h1{
    background-color: green;
    color: white;
}
.div4 p{

    background-color: yellow;
    display: inline-block;
    padding: 10px;
   margin: 10px 150px 20px 150px;
}
.button2{
    background-color: black;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
}
.div5wrap{
    background-color: #4AB75C;
   text-align: center;
   padding: 50px;
}

.div-51{
    padding: 20px;
    width:700px;
    height: 200px;
    margin-left: 300px;
    
    
}
.div-51 img{
    float: left;
    margin-right: 100px;
}
.hp1{
    text-align: left;
   
}



.div5 img{
    width: 130px;
    height: 150px;
}   

 
.div6{
    background-color: #2C1A8E;
    text-align: center;
    padding: 10px; 
}
.div6 ul li{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
   margin-left: 20px;
    
}
.div6 ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.test{
    width: 700px;
    height: 200px;
    text-align:left;
    margin-left: 300px;
    
    
}
.test1{
    display: inline-block;
    width: 500px;
    text-align: left;
    margin-top: 20px;
}
.test2{
    display: inline-block;
    
}

.test2 img{
    width: 130px;
    height: 150px;
    margin-bottom: 115px;

}